$fontMain: "PT Sans", "Verdana", "Helvetica", "Arial", sans-serif;
// $fontTitle: "__", "Verdana", "Helvetica", "Arial", sans-serif;

// don't change, root base size = 10px
$fontSize: 62.5%;
//usually - normal 400
$fontWeightNormal: 400;

$colorBgnd: #ffffff;
$colorGrayExtraLight: #f4f4f4;
$colorGrayLight: #e0e0e0;
$colorGray: #999999;
$colorGrayDark: #626262;
$colorDark: #1d1818;
$colorBlack: #000000;
$colorBlueLight: #a8d1e7;
$colorBlue: #384685;
$colorRed: #e13b3f;
$colorGreen: #4d511d;
$colorIvory: #f3e7c6;
$colorGreenLight: #0e9f2e;

$color_2: #fbd051;
